apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: simulator-ingress
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
spec:
  tls:
    - hosts:
        - dev.telge.iteam.pub
      secretName: telge-dev-tls
  rules:
    - host: dev.telge.iteam.pub
      http:
        paths:
          - path: /socket\.io(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: simulator
                port:
                  number: 4000
          - path: /api(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: simulator
                port:
                  number: 4000
